body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fffff8;
}

p {
    margin: 1em;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #0000ff;
}

a:hover {
    color: #ff0000;
}



h1 {
    font-size: 140%;
    margin: 0;
    padding: 0.5em;
    background-color: #990000;
    color: #ffffff;
    text-align: center;
}

h2 {
    margin: 1%;
    padding-left: 6px;
    background-color: #FFCCCC;
    border-top: solid 1px #660000;
    color: #990000;
}

h3 {
    margin: 1%;
    padding-left: 6px;
    border-bottom: solid 2px #5fd75f;
    color: #0a450a;
}

div#nav {
    text-align: center;
}

div#nav a {
    padding: 2px;
    background: #ffffcc;
    text-decoration: none;
}

div#bottom_nav {
    display: none;
}

@media screen and (max-width: 480px) {
    div#bottom_nav {
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    div#bottom_nav a {
        padding: 1px;
        background: #ffffcc;
        text-decoration: none;
    }
}


footer {
    text-align: center;
    margin: 30px;
}

address {
    font-style: normal;
    text-align: center;
}

strong {
    color: red;
}


pre.sample {
    margin: 1.5% 5% 1.5% 10%;
    padding: 1% 2% 1% 2%;
    background-color: #f0f0f0;
    border: thin gray solid;
    line-height: 120%;
    white-space: pre;
}

pre.sample2 {
    margin: 1.5% 5% 1.5% 8%;
    padding: 1% 2% 1% 2%;
    background-color: #f8f8f8;
    line-height: 140%;
    white-space: pre;
}

.rei {
    margin: 1.5% 0 1.5% 8%;
    padding: 1% 2% 1% 2%;
    background-color: #f8f8f8;
    border: 1px #cccccc solid;
    border-width: 1px 0 1px 1px;
    line-height: 140%;
    font-size: 100%;
    font-family: monospace;
}

pre.setsu {
    margin: 1.5% 5% 1.5% 8%;
    padding: 1% 2% 1% 2%;
    background-color: #f8f8f8;
    border: 1px #cccccc solid;
    line-height: 140%;
    white-space: pre;
    font-size: 100%;
}

pre.wakunashi {
    margin: 1em 6em 1em 6em;
    color: #060;
    line-height: 120%;
    white-space: pre;
}